.container {
  background-color: turquoise !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 5px);
}

.menuItem {
  background-color: lightgrey;
  padding: 4px 10px;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: -1px;

  &:hover {
    background-color: lightgreen;

  }
}